.amount {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amount > * {
  margin-right: 0.5rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.2rem 0.5rem;
}

.amount > *:last-child {
  margin-right: 0;
}

.amount-value {
  background: #e9e9e9;
}

.amount i {
  cursor: pointer;
  background: #21ba46;
  border: 1px solid green;
  color: #ffffff;
}

.amount i:first-child {
  background: #db2828;
  border: 1px solid darkred;
}

@media screen and (min-width: 700px) {
  .amount > * {
    padding: 0.5rem 1rem;
  }
}