.products-catalog {
  width: 80%;
  margin: 2rem auto 0;
  display: grid;
  gap: 2rem;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: gainsboro;
  border: 1px solid black;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.image-wrapper > img {
  display: block;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.desc-wrapper {
  padding: 1rem;
}
