.aside {
    height: fit-content;
    padding: 2rem;
    background-color: white;
    margin-bottom: 2rem;
}

.aside > * {
    margin-bottom: 0.5rem;
}

.aside > *:last-child {
    margin-bottom: 0;
}

.submit-btn {
    background: #FDB06F;
    color: #000;
    margin-top: 1rem;
}

@media screen and (min-width: 700px) {
    .aside {
        margin-bottom: 0;
    }
}