.products-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.products-catalog {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  margin: 0 1rem !important;
}

.products-catalog > * {
  margin-bottom: 1rem;
}

.products-catalog > *:last-child {
  margin-bottom: 0;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.page-index span {
  margin-left: 0.5rem;
  padding: 0.1rem 0.2rem;
  cursor: pointer;
  color: #93653E;
  text-underline-offset: 2px;
}

.page-button {
  font-size: .9em;
  padding: 0.4em 0.7em;
  border-radius: 13px;
}

.page-index span:first-of-type {
  margin-left: 1rem;
}

.page-index span:last-of-type {
  margin-right: 1rem;
}

.highlighted {
  text-decoration: underline;
  color: inherit !important;
}

@media screen and (min-width: 700px) {
  .products-container {
    margin-top: 2rem;
    flex-direction: row;
  }

  .products-catalog > * {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .sort {
    align-items: center;
    margin: 0;
  }

  .page-index span:hover {
    text-decoration: underline;
  }
}
