.contact-page {
    margin-top: 1rem;
}

.contact-page .map {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 2rem;
}

.contact-page .map button {
    margin-top: 2rem;
    margin-left: 10%;
}