.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn ease 200ms both;
}

.card {
  min-width: 50%;
  width: 80%;
  background: #f6f6f6;
  border: 2px solid #594e4c;
  border-radius: 20px;
  padding: 5rem 1rem;
  text-align: center;
  z-index: 6;
  position: absolute;
  top: 8rem;
  animation: show ease 200ms both;
}

.card h1 {
  margin-bottom: 1rem;
  font-size: 1.3em;
}

.error {
  border-color: #e10000;
  color: #e10000;
}

.close {
  position: absolute;
  font-size: 2em;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
}

@media screen and (min-width: 700px) {
  .card {
    width: 70%;
  }

  .card h1 {
    margin-bottom: 1.5rem;
    font-size: 2em;
  }
}

@keyframes show {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
