.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E3E3E3;
  color: #646464;
  height: 40px;
  font-size: 0.8em;
  margin-top: auto;
}

@media screen and (min-width: 700px) {
  .footer {
    height: 50px;
    font-size: 0.9em;
  }
}
