.button {
  border-radius: 20px;
  background: #fdb06f;
  color: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6em 1em;
  position: relative;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border: none;
  font-size: 1em;
}

.button:active {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.button:hover {
  cursor: pointer;
}
