.wrapper {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper p {
  font-size: 2rem;
}

.wrapper p > span {
  display: none;
}

.wrapper > div {
  text-align: center;
}

.loading {
  margin-top: 1rem;
  font-size: 4rem;
  -webkit-animation-name: rotating;
  animation-name: rotating;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  z-index: 5;
}

@-webkit-keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
