.contact {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.list {
  margin-top: 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  text-align: center;
  overflow-wrap: anywhere;
}

.list-item {
  width: 100%;
  height: 100%;
}

.list-item > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  font-size: inherit;
}

.icon {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 830px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 1rem;
  }
}