.services {
  margin: 3rem 0;
}

.services ul {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  margin-top: 1rem;
  row-gap: 3rem;
}

.services ul li {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-align: center;
  gap: 1rem;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service-description {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}

.service-description p {
  display: none;
}

@media screen and (min-width: 700px) {
  .services {
    margin: 5rem 0;
  }

  .list {
    gap: 10rem;
  }

  .list-item {
    text-align: center;
  }

  .list-item:nth-child(2n) h3 {
    text-align: center;
  }

  .service-description p {
    display: block;
  }
}