.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.header {
  width: 50%;
  height: fit-content;
}

.logo {
  width: 100%;
  height: auto;
}

.horizontal-line {
  width: 100vw;
  height: 1px;
  background: #c4c4c4;
  border: 0;
  position: absolute;
  left: 0;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-size: 1.2em;
}

.form > input,
.form > button {
  margin-bottom: 1rem;
}

.form > label {
  margin-bottom: 0.2rem;
}

.form > button:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 700px) {
  .header {
    width: 30%;
  }
}
