.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 4;
  padding: 3rem;
  animation-timing-function: ease;
  animation-duration: 200ms;
  animation-fill-mode: both;
  animation-name: showOverlay;
  transition: transform 200ms ease;
}

.overlay nav {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  margin-top: 1rem;
}

.overlay nav ul {
  list-style-type: none;
}

.close {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.9em;
}

.image-wrapper {
  margin-left: 1rem;
  display: block;
  width: 100px;
}

.image-wrapper > * {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #646464;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8em;
}

@keyframes showOverlay {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hideOverlay {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
