.option {
  position: relative;
  margin-bottom: 1rem;
  min-width: fit-content;
}

.option:last-child {
  margin-bottom: 0;
}

.option::after {
  content: "";
  width: 0;
  height: 3px;
  background: #fdb06f;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  transition: 200ms ease;
}

.option a {
  color: inherit;
  text-decoration: none;
}

.option a:hover {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .option {
    margin: 0 1rem 0 0;
  }

  .option:hover::after {
    width: 100%;
  }
}
