.cart nav button {
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: none;
  color: #594e4c;
  text-decoration: none;
  transition: color 200ms ease;
}

.cart nav button:hover,
.cart nav button:active {
  color: black;
}

.cart > div {
    margin: 1rem 0;
    display: grid;
    gap: 2rem;
}

.cart ul {
  list-style: none;
  display: grid;
  row-gap: 2rem;
}

.product {
  width: 100%;
  background: #ffffff;
  display: flex;
}

.left {
  aspect-ratio: 1 / 1;
  max-height: 10rem;
  overflow: hidden;
}

.left > img {
  display: block;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.right {
  padding: 1rem;
}