.services h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.services form {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.services form label {
    margin: 0;
}

.services form input {
    width: 100%;
}

.name {
    grid-column: span 2;
}

.message {
    grid-column: span 2;
}

.message textarea {
    width: 100%;
    min-width: calc(50% - 0.5rem);
    max-width: 100%;
    min-height: 50px;
    height: 250px;
    max-height: 100vh;
}

.asterisk {
    color: #e10000;
}