/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

a {
  color: #594e4c;
  text-decoration: none;
  -webkit-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

a:hover,
a:active {
  color: black;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}



.hideElement {
  display: none;
}

form label {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

form label > .text {
  position: relative;
  display: block;
  width: calc(100% - (0.5rem + 25px));
  left: calc(25px + 0.5rem);
}

form input,
form select,
form textarea {
  border-radius: 20px;
  padding: 0.6em 1em;
  background: #fff;
  color: #000;
  border: 1px solid #5b5b5b;
  outline: none;
  transition: border-color 200ms ease;
  position: relative;
}

.invalid {
  border-color: #e10000;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: #bfaea8;
}

form input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  height: 0;
  width: 0;
}

form label span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid black;
}

form input[type="checkbox"]:checked ~ span.checkmark {
  background: orange;
}

form label span.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

form input[type="checkbox"]:checked ~ span.checkmark::after {
  display: block;
}

form label span.checkmark::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}