* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
}

a {
  color: #594e4c;
  text-decoration: none;
  transition: color 200ms ease;
}

a:hover,
a:active {
  color: black;
}