.appointments h1,
.appointments h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.appointments form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.appointments form label {
  margin: 0;
}

.appointments form input {
  width: 100%;
}

.name,
.email,
.phone,
.message {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.message textarea {
  width: 100%;
  height: 250px;
  resize: none;
}

.asterisk {
  color: #e10000;
}

@media screen and (min-width: 700px) {
  .appointments form {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .email,
  .phone {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}